body {
  background-color: black;
  background-repeat: no-repeat;
  background-image: cover;
}

.container {
  color: white;
  font-size: 2em;
}

.title {
  font-size: 3.5em;
}

#incident-button{
  display: none;
}

h1{
  text-align: center;
  font-size: 3.5em;
}
