body {
  background-color: black;
  background-repeat: no-repeat;
  background-image: cover;
}

.container {
  color: white;
  font-size: 2em;
}

.title {
  font-size: 3.5em;
}

#incident-button{
  display: none;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
